/* For smart phones */
@media (max-width: 768px) {
  .bad-request-message {
    border: 1px solid #000;
    height: 100px;
    width: 300px;
    border-radius: 1rem;
    gap: 1rem;
    background: #fff;
    padding: 1rem;

    & p {
      text-indent: 1rem;
    }
  }
}

/* Styles for iPads and tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .bad-request-message {
    .bad-request-message {
      border: 4px solid #000;
      height: 100px;
      width: 600px;
      border-radius: 1rem;
      gap: 1rem;
      background: #fff;
      padding: 1rem;
    }

    & p {
      text-indent: 1rem;
      color: #bb0404;
    }
  }
}

.bad-request-message {
  border: 1px solid #000;
  height: auto;
  width: 300px;
  border-radius: 1rem;
  gap: 1rem;
  background: #fff;
  padding: 1rem;

  & p {
    text-indent: 1rem;
  }
}