/* For smart phones */
@media (max-width: 768px) {
  .form-weather {
    padding: 1rem;
    display: flex;
  
    & input[name="location"] {
      border: 1px solid #898282;
      border-radius: 8px 0 0 8px;
      padding: 4px;
    }
  
    & button {
      padding: 4px;
      border-radius: 0 8px 8px 0 ;
      margin-right: auto;
    }
  }
}

/* Styles for iPads and tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .form-weather {
    padding: 1rem;
    display: flex;

    & input[name="location"] {
      border: 1px solid #898282;
      border-radius: 8px 0 0 8px;
      padding: 1rem;
      font-size: 1rem;
    }
  
    & button {
      padding: 1rem;
      border-radius: 0 8px 8px 0 ;
      margin-right: auto;
      font-size: 1rem;
    }

    & select {
      width: 60px;
    }
  }
}

/* For desktop and laptop */
.form-weather {
  padding: 1rem;
  display: flex;

  & input[name="location"] {
    border: 1px solid #898282;
    border-radius: 8px 0 0 8px;
    padding: 4px;
  }

  & button {
    padding: 4px;
    border-radius: 0 8px 8px 0 ;
    margin-right: auto;
  }
}