.loading {
  border: 1px solid #000;
  height: 100px;
  width: 400px;
  border-radius: 1rem;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  & .circles-container {
    display: flex;
    justify-content: space-around;
    width: clamp(80px, 6vw, 6vw);
  }

  & .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Makes it a circle */
    background-color: blue; /* Circle color */
    animation: growShrink 1s infinite; 
  }
  
  & .circle:nth-child(2) {
    animation-delay: 100ms;;
  }
  
  & .circle:nth-child(3) {
    animation-delay: 200ms;;
  }

  & .circle:nth-child(4) {
    animation-delay: 300ms;;
  }

  & .circle:nth-child(5) {
    animation-delay: 400ms;;
  }
}

@keyframes growShrink {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  50% {
    transform: scale(2); /* Grow to 2x the size */
  }
  100% {
    transform: scale(1); /* Shrink back to normal size */
  }
}

/* For smart phones */
@media (max-width: 768px) {
  .loading {
    top: 30%;
    width: 200px;    
  }
}

/* Styles for iPads and tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .loading {
    top: 20%
  }
}